.login,
.logout,
.refresh,
.subreddit,
.loadmore,
.loadmore-disabled
{
   display: inline-block;
   height:20px;
   width: auto;
   font-family:arial;
   font-weight:bold;
   color:#ffffff;
   border-radius: 5px;
   text-align:center;
   margin-top:2px;
   margin-right:5px;
   
   border-width: 2px;
   border-color: transparent;
   border-style: solid;
}

.subreddit:hover
{
   border-width: 2px;
   border-color: #FFFFFF;
   border-style: solid;
}


.subreddit
{
   background-color:#ff3300;
}

.login
{
   background-color:#2BF02B;
}

.logout
{
   background-color:#F02B38;
}

.refresh,
.loadmore
{
   background-color:#1087E8;
}

.loadmore-disabled
{
   background-color:#0C2E4A;
   color:#555555;
}

.loadmore,
.loadmore-disabled
{
   margin-top:30px;
   margin-bottom:30px;
}

#header-container
{
   background-color:#303030;
   width: 100%;
   top: 0;
   position: fixed;
   z-index:100000;
}

#header
{
   background-color:#303030;
   width: 85%;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
}

#controls
{
   margin-bottom: 10px;
}



#main_div
{
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   width: 85%;
}

#subreddits
{
   display: inline;
}

#sort,
#time
{
   background: transparent;
   width: auto;
   padding: 5px;
   font-size: 16px;
   color: #ffffff;
   line-height: 1;
   height: 34px;
}

#sort option,
#time option
{
   background-color: #303030;
}

#time[disabled]
{
   background-color: #080808;
   color: #555555;
}


body
{
	background-color:#303030;
	color:white;
}

h1
{
	color:white;
	text-align:center;
}

table
{
	display:inline-block;
}

ul
{
	list-style-type: none;
}

li
{
	display:inline;
}

img
{
    border:0;
    vertical-align:bottom;
}
.Image
{
   position:relative;
   display:inline-block;
   padding: 5px;
}
.Image a.Reddit
{
    position:absolute;
    bottom:15px;
    width:16px;
    height:16px;
    text-align:center;
    z-index:2;
    text-decoration:none;
    display:block;
    left:15px;
}
.Image img.Reddit
{
    width:24px;
    height:24px;
}
.Image input.Favorite
{
    position:absolute;
    bottom:10px;
    width:16px;
    height:16px;
    text-align:center;
    z-index:2;
    text-decoration:none;
    display:block;
    right:10px;
}​

