{% autoescape true %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/html/rsc/stylesheet.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/html/rsc/scripts.js"></script>
</head>
<body>

<div id="header-container">
   <div id="header">
      <div>
	      <input type="text" id="subreddit-input" placeholder="Add a subreddit"></input>
         <div id="subreddits">
         {% for sub in subreddits %}
	         <div class='subreddit'>{{ sub }}</div>
         {% endfor %}
         </div>
      </div>

      <div id="controls">
         <select id='sort'>
	         <option value='hot' selected>Hot</option>
	         <option value='top'>Top</option>
	         <option value='new'>New</option>
         </select>

         <select id='time' disabled>
	         <option value='day'>Day</option>
	         <option value='week'>Week</option>
	         <option value='month'>Month</option>
	         <option value='year'>Year</option>
	         <option value='all'>All Time</option>
         </select>

         <button type='button' onclick='refresh()'>Refresh</button>


         {% if logout_url is defined %}
               <a href="{{ logout_url }}"><div class="logout">Logout</div></a>
			      <a href='/favorites'><button type='button'>Favorites</button></a>
		      {% else %}
			      <a href="{{ login_url }}"><div class="login">Login</div></a>
	      {% endif %}
      </div>
   </div>

   <hr width="100%" />
</div>

<div id='main_div'>
</div>
<button id="load_more_button" onclick='loadMore(this)' type='button'>Load More!</button>

</body>
{% endautoescape %}
